---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
    title="Contact"
    description="Contact Information"
    pubDate={new Date("November 15 2024")}
    heroImage="/blog-placeholder-about.jpg"
>
    <p>Hellen Tong</p>
    <p>Kinjal Malharkar</p>
    <p>Liam Mulcahy</p>
    <p>Madison Minor</p>
    <p>Yuchen Jiang</p>
    <p>Ziheng Fu</p>
</Layout>
