---
import BaseLayout from "../components/BaseLayout.astro";
---

<BaseLayout
    title="Contact"
    description="Contact Information"
    pubDate={new Date("November 15 2024")}
    heroImage="/blog-placeholder-about.jpg"
>
    <main>
        <p>Hellen Tong</p>
        <p>Kinjal Malharkar</p>
        <p>Liam Mulcahy</p>
        <p>Madison Minor</p>
        <p>Yuchen Jiang</p>
        <p>Ziheng Fu</p>
    </main>
</BaseLayout>
