---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Header from "../components/Header.astro";
import "../styles/global.css";
import BaseLayout from "../components/BaseLayout.astro";
---

<BaseLayout>
    <main>
        <p>
            Welcome to Wolverine Study Spots Hero — your ultimate guide to
            finding the perfect place to study on the University of Michigan's
            North Campus. Whether you're preparing for exams, collaborating on
            group projects, or just need a quiet corner to read, our interactive
            platform helps you discover and explore the best study locations
            tailored to your needs.
        </p>
        <p>
            Dive into detailed profiles of various study spots across North and
            Central Campus buildings, complete with high-resolution photos,
            directional maps, and essential information such as opening hours,
            availability of natural sunlight, and seating options. From group
            tables in lively environments to serene spaces for solo study, we've
            got you covered. Each listing also includes nearby amenities such as
            cafes, water fountains, and the all-important power outlets to keep
            your devices charged.
        </p>
        <p>
            Begin your journey to academic excellence with us at Wolverine Study
            Spots—where every University of Michigan student can find their
            ideal study setting.
        </p>
    </main>
</BaseLayout>
