---
import BaseHead from "./BaseHead.astro";
import Header from "./Header.astro";
import Footer from "./Footer.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
        <script src="/scripts/topButton.js" type="module"></script>
    </head>
    <Header />
    <body>
        <slot />
        <button id="myBtn" title="Go to top">Top</button>
    </body>
    <Footer />
    <script>
        import "../scripts/topButton.js";
    </script>
</html>
