---
import type { CollectionEntry } from "astro:content";
type Props = CollectionEntry<"studySpot">["data"];

const {
    title,
    isQuiet,
    isCollaborative,
    caenAccess,
    naturalLight,
    comfortableTemp,
    outletAvailability,
    furnitureComfort,
    restroomDistance,
    reservable,
    busyness,
} = Astro.props;
---

<div class="card">
    <div class="card-title">{title}</div>
    <div class="icon-container">
        {
            isQuiet
            ?
                <div class="icon" title="Quiet Area">
                    <img src="/icons/volume-small.png" alt="Quiet Area Icon" />
                    <span>Quiet</span>
                </div>
            : ""
        }
        {
            isCollaborative
            ?
            <div class="icon" title="Collaborative Area">
                <img src="/icons/peoples.png" alt="Collaborative Icon" />
                <span>Collab</span>
            </div>
            : ""
        }
        {
            caenAccess
            ?
            <div class="icon" title="CAEN Access">
                <img src="/icons/code-computer.png" alt="CAEN Access Icon" />
                <span>CAEN</span>
            </div>
            : ""
        }
        {
            naturalLight > 2
            ?
            <div class="icon" title="Natural Light">
                <img src="/icons/light.png" alt="Natural Light Icon" />
                <span>Light</span>
            </div>
            : ""
        }
        {
            (1 < comfortableTemp && comfortableTemp < 4)
            ?
            <div class="icon" title="Comfort">
                <img src="/icons/thermometer.png" alt="Temperature Icon" />
                <span>Breeze</span>
            </div>
            : ""
        }
        {
            outletAvailability
            ?
            <div class="icon" title="Outlets Available">
                <img src="/icons/plug-one.png" alt="Outlets Icon" />
                <span>Outlets</span>
            </div>
            : ""
        }
        {
            (furnitureComfort > 2)
            ?
            <div class="icon" title="Comfort">
                <img src="/icons/tea-drink.png" alt="Comfortableness Icon" />
                <span>Comfort</span>
            </div>
            : ""
        }
        {
            restroomDistance < 3
            ?
            <div class="icon" title="Restroom Nearby">
                <img src="/icons/public-toilet.png" alt="Restroom Icon" />
                <span>Restroom</span>
            </div>
            : ""
        }
        {
            busyness < 3
            ?
            <div class="icon" title="Not Busy">
                <img src="/icons/fishing.png" alt="Busyness Icon" />
                <span>Available</span>
            </div>
            : ""
        }
        {
            reservable
            ?
            <div class="icon" title="Reservable">
                <img src="/icons/tickets-checked.png" alt="Reservable Icon" />
                <span>Reserve</span>
            </div>
            : ""
        }
    </div>
</div>

<style>
    .card {
        border: 1px solid #ccc;
        border-radius: 10px;
        margin: auto;
        padding: 20px;
        box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
        max-width: 720px;
    }
    .card-title {
        display: flex;
        font-size: 24px;
        margin-bottom: 20px;
        justify-content: center;
    }
    .icon-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        margin-top: 10px;
    }
    .icon {
        display: flex;
        flex-direction: column;
        width: 50px;
        align-items: center;
        font-size: 14px;
    }
    .icon img {
        width: 24px;
        height: 24px;
        margin-bottom: 5px;
    }
</style>
