---
import HeaderLink from "./HeaderLink.astro";
import "../styles/navbar.css";
---

<div class="nav-links">
    <HeaderLink class="main-logo" href="/">Home</HeaderLink>
    <HeaderLink href="/blog">Blog</HeaderLink>
    <HeaderLink href="/about">About</HeaderLink>
    <HeaderLink href="/contact">Contact</HeaderLink>
</div>
