---
import HeaderLink from "./HeaderLink.astro";
import "../styles/navbar.css";
---

<div class="nav-links">
    <HeaderLink href="/">Home</HeaderLink>
    <HeaderLink href="/study">Study Spots</HeaderLink>
    <HeaderLink href="/about">About</HeaderLink>
    <HeaderLink href="/contact">Contact</HeaderLink>
</div>
