---
import BaseLayout from "../../components/BaseLayout.astro";
import "../../styles/global.css";

import { type CollectionEntry, getCollection } from "astro:content";
const spots = await getCollection("studySpotCollection");
// Generate a set of all buildings
const buildings = new Set(spots.map((spot) => spot.data.building));
const humanReadable = (building) => {
    const tbl = {
        bbb: "Bob and Betty Beyster Building",
        biomedical_engineering_building: "Biomedical Engineering Building",
        chrysler: "Chrysler Center",
        cooley_lab: "Cooley Lab",
        dude: "Duderstadt Center",
        fxb: "Francois-Xavier Bagnoud Building",
        gg_brown: "G.G. Brown Laboratory",
        naval_architecture_building:
            "Naval Architecture and Marine Engineering Building",
    };
    return tbl[building] || building;
};
---

<BaseLayout>
    <main>
        <h1>Study Spot Articles</h1>
        <ul>
            <li>
                <a href="study/building"> Study Spots by Building </a>
            </li>
            <li>
                <a href="study/caen"> Study Spots with CAEN </a>
            </li>
            <li>
                <a href="study/natural_light">
                    Study Spots with natural light
                </a>
            </li>
            <li>
                <a href="study/collaborative"> Collaborative Study Spots </a>
            </li>
        </ul>

        <h1>Individual Building Study Spots</h1>
        <ul>
            <!-- Individual building pages -->
            {
                Array.from(buildings).map((building) => (
                    <li>
                        <a href={`study/building/${building}`}>
                            {" "}
                            Study Spots in {humanReadable(building)}{" "}
                        </a>
                    </li>
                ))
            }
        </ul>
    </main>
</BaseLayout>
