---
import BaseLayout from "../../components/BaseLayout.astro";
import GeneralArticle from "../../layouts/GeneralArticle.astro";
import "../../styles/global.css";
---

<BaseLayout>
    <main>
        <h1>Study Spot Articles</h1>
        <a href="study/building"> Study Spots by Building </a>
    </main>
</BaseLayout>
